@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
$primaryFont: 'Young Serif', serif;;
$secondaryFont: 'Jaldi', sans-serif;

@mixin textNoStyle {
    text-decoration: none;
    list-style: none;
    color: black;
    &:visited {
        text-decoration: none;
    }
}
@mixin buttonStyle {
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: $secondaryFont;
    font-size: 1.05rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.j-c-c {
    justify-content: center;
}
.textNoStyle {
    @include textNoStyle;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.smallerFont {
    font-size: .75rem;
    color: rgb(182, 0, 0);
    font-family: $secondaryFont;
}
.hidden {
    display: none;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: $secondaryFont;
    background-color: rgba(113, 113, 113, 0.225);
    background-image: url('/css/images/icons8-pizza-80.png');
    gap: 4vw;
    h3 {
        font-family: $primaryFont;
        padding: 1rem 0 .5rem 0;
    }
}
section {
    height: fit-content;
    border-radius: 25px;
}
form {
    input {
        font-family: $secondaryFont;
    }
    input[type="text"] {
        min-width: 8.5rem;
        padding: 0 .25rem;
        margin: .25rem 0;
    }
    label {
        margin-right: .5rem;
    }
    div {
        padding: 1rem 0;
    }
    button {
        @include buttonStyle;
        background-color: black;
        color: white;
        margin: 1rem auto;
    }
}
#firstSection {
    width: 36vw;
    padding: 2rem 6rem;
    background-color: rgb(255, 178, 63);
}
#secondSection {
    width: 24vw;
    padding: 2rem 3rem;
    background-color: black;
    gap: 1vh;
    div {
        background-color: white;
    }
    .list, .orderDetail {
        min-height: 25vh;
    }
    .list {
        gap: 1rem;
        p {
            font-family: $primaryFont;
            color: rgb(192, 192, 192);
        }
    }
    ul {
        color: black;
        font-size: 1.1rem;
        padding: 1rem 2rem;
        li {
            list-style: none;
            line-height: 1.5rem;
        }
    }
    button {
        @include buttonStyle;
        color: black;
    }
    .confirm {
        background-color: orange;
        margin: auto;
    }
    
}
