@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
$primaryFont: 'Young Serif', serif;;
$secondaryFont: 'Jaldi', sans-serif;
/*
$primaryColor: ;
$secondaryColor: ;
*/

@mixin textNoStyle {
    text-decoration: none;
    list-style: none;
    color: black;
    &:visited {
        text-decoration: none;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.textNoStyle {
    @include textNoStyle;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.smallerFont {
    font-size: .75rem;
    color: rgb(182, 0, 0);
}
body {
    width: 100vw;
    height: 100vh;
    font-family: $secondaryFont;
    h3 {
        font-family: $primaryFont;
    }
}